<!DOCTYPE html>
<html lang="ru-en">
<head>
  <meta charset="utf-8">
  <title>Pride International</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="assets/img/favicon.png"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://pride.network/" />
  <meta property="og:image" content="http://pride.network/assets/img/meta.png" />
  <meta property="og:title" content='Pride International' />
  <meta property="og:description" content="Мобильное Приложение «Прорыв» " />
  <meta property="og:site_name" content="Pride International" />
  <meta itemprop="name" content='Мобильное Приложение «Прорыв» '>
  <meta itemprop="description" content="Сенсационный Продукт Компании Pride International">
  <meta itemprop="image" content="http://pride.network/assets/img/meta.png">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#333">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#666">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#249">
  <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
  <style>
      @media only screen and (max-width: 425px) {
        #inline {
          font-size: 14px!important;
          padding: 10px!important;          
        }
      }
  </style>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':  
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5KK466R');</script>
  <!-- End Google Tag Manager -->
</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KK466R"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- BEGIN content -->
    <!-- loader -->
    <div class="loader">     
      <div class="loader_inner">
        <div class="e-loadholder">
          <div class="m-loader">
            <span class="e-text">ЗАГРУЗКА</span>
          </div>
        </div>
        <div id="particleCanvas-Blue"></div>
        <div id="particleCanvas-White"></div>
      </div>
    </div>
    <!-- loader -->
    <!-- mobile menu -->
    <div class="mobile__menu">
      <div class="toggle_mnu">
          <div class="sandwich">
              <div class="sw-topper"></div>
              <div class="sw-bottom"></div>
              <div class="sw-footer"></div>
          </div>
      </div>
      <nav class="top_mnu">
        <ul>
          <li><a href="#header" rel='m_PageScroll2id'><span>Главная</span></a></li>
          <li><a href="#news" rel='m_PageScroll2id'><span>Новости</span></a></li>
          <li><a href="#development" rel='m_PageScroll2id'><span>О компании</span></a></li>
          <li><a href="#product" rel='m_PageScroll2id'><span>Продукт</span></a></li>
          <li><a href="#business" rel='m_PageScroll2id'><span>Бизнес</span></a></li>
          <li><a href="#footer" rel='m_PageScroll2id'><span>Контакты</span></a></li>
        </ul>
    </nav>
    </div>
    <!-- end mobile menu -->
    <div class="main-content">
      <!-- begin side-menu -->
      <div class="side-menu" id="main-header">
        <nav>
          <ul>
            <li><a href="#header" rel='m_PageScroll2id'><span>Главная</span></a></li>
            <li><a href="#news" rel='m_PageScroll2id'><span>Новости</span></a></li>
            <li class="active"><a href="#development" rel='m_PageScroll2id'><span>Компании</span></a></li>
            <li><a href="#product" rel='m_PageScroll2id'><span id="animate2">Продукт</span></a></li>
            <li><a href="#business" rel='m_PageScroll2id'><span>Бизнес</span></a></li>
            <li><a href="#footer" rel='m_PageScroll2id'><span>Контакты</span></a></li>
          </ul>
        </nav>
      </div>
      <!-- end side-menu -->
      <!-- begin main-header -->
      <header class="main-header" id="header">
        <div class="section">
          <video id="homescreen_video" preload="auto" muted="true" loop="" autoplay="autoplay" poster="assets/img/bg-mobile.png">
            <source src="assets/video/video-bg.mp4" type="video/mp4">
          </video>
          <div class="over"></div>
          <div class="wrap__page">
            <div class="header-top">
              <a href="#" target="blanc"><img src="assets/img/logo.png" alt="logo"></a>
              <nav class="header-menu">
                <li class="menu-item"><a rel='m_PageScroll2id' href="#header">Главная</a></li>
                <li class="menu-item"><a rel='m_PageScroll2id' href="#news">Новости</a></li>
                <li class="menu-item"><a rel='m_PageScroll2id' href="#development">О компании</a></li>
                <li class="menu-item"><a rel='m_PageScroll2id' href="#product">Продукт</a></li>
                <li class="menu-item"><a rel='m_PageScroll2id' href="#business">Бизнес</a></li>
                <li class="menu-item"><a rel='m_PageScroll2id' href="#footer">Контакты</a></li>
              </nav>
            </div>
            <div class="header-sub">
              <div class="sub-title">
                <h1>Pride International</h1>
                <p>Live Rich and Happy</p>
                <span class="icon-scroll"></span>
              </div>
              <!-- logo -->
              <img class="Y svg_image" src="assets/img/logo2.png" alt="Logo image">
              <!-- logo -->
              <div class="btn-container">
                <a href="https://player.vimeo.com/video/238930532?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn trigger" data-lity><i></i></a>
                <button class="btn" id="video-btn"><i></i></button>
                <p>Смотреть видео</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- end main-header -->
      <!-- begin under video -->
      <div class="under">
        <div class="under-container">
          <span class="btn-close" id="video-close"></span>
          <div class="under-video">
            <iframe id="frame" src="https://player.vimeo.com/video/238930532?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="embed-content"></iframe>
          </div>
        </div>  
      </div>
      <!-- end under video -->
      <!-- begin news -->
      <div class="news" id="news">
        <div class="wrap__page">
          <h2>Новости компании</h2>
        </div>

        <div class="news-item">
         
          <div class="simple-slider simple-slider-second">
            <div class="slider-wrapper">




              <div class="slider-slide">
                  <a href="http://questmvsw.com/" target="blanc" class="btn-video-slide">
                  <img src="assets/img/20.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/20-20.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>

<!--               <div id="inline" style="background:#fff;padding: 30px;font-size: 18px;border-radius: 5px;margin: 0 1em;" class="lity-hide">
                  <div class="inline__content">
                    <h3 style="margin-bottom: 20px">Pride International представляет</h3>
                    <p style="margin-bottom: 20px">Международный квест-соревнование<br>«Мужчины против Женщин»</p>
                    <p style="margin-bottom: 20px">Старт 20.03.2018"<br></p>

                    <p style="margin-bottom: 20px">Успейте собрать свою команду!</p>
                    <p style="margin-bottom: 20px">
                      <a href="https://mbmpartner.com/magnet" target="blanc" style="color: #1737d6;cursor: pointer;">Играть</a> 
                    </p>

                  </div>
              </div> -->

              <div class="slider-slide">
                  <a href="https://www.youtube.com/embed/JBtWPrT1L7s?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/19.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/19-19.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>

<!--               <div class="slider-slide">
                <a href="assets/img/pop-up.png" class="btn-video-slide" data-lity>
                  <img src="assets/img/16.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/16-16.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>  -->

<!--               <div class="slider-slide">
                  <a href="#inline" class="btn-video-slide" data-lity>
                  <img src="assets/img/18.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/18-18.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>

              <div id="inline" style="background:#fff;padding: 30px;font-size: 18px;border-radius: 5px;margin: 0 1em;" class="lity-hide">
                  <div class="inline__content">
                    <h3 style="margin-bottom: 20px">Уважаемые партнёры!</h3>
                    <p style="margin-bottom: 20px">Спешим Вам сообщить, что на этой неделе состоится два важных<br>вебинара!</p>
                    <p style="margin-bottom: 20px">21 Февраля в 17:00 по МСК презентация бесплатного квеста<br>"Мужчины Против Женщин"<br>
                      <a href="https://mbmpartner.com/mw" target="blanc" style="color: #1737d6;cursor: pointer;">https://mbmpartner.com/mw</a>
                    </p>
                    <p style="margin-bottom: 20px">22 Февраля в 17:00 по МСК бесплатный мастер-класс "Instagram для бизнеса", детально по ссылке:<br>
                      <a href="https://mbmpartner.com/magnet" target="blanc" style="color: #1737d6;cursor: pointer;">https://mbmpartner.com/magnet</a> 
                    </p>
                    <p style="margin-bottom: 20px">Вебинары ведёт президент компании PRIDE International Артем Нестеренко!<br>Ссылкы на вход будут отправлены в день вебинара.</p>
                    <p style="margin-bottom: 20px">Обязательно запланируйте мероприятия в свой календарь! </p>
                    <p style="margin-bottom: 20px">Ждём Вас, до встречи!!!</p>
                  </div>
              </div> -->

<!--               <div class="slider-slide">
                  <a href="https://www.youtube.com/embed/LNLhXfFOTAY?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/17.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/17-17.png" class="img-responsive image-slide slide__mobile" alt="">
              </div> -->

              <div class="slider-slide">
                  <a href="https://www.youtube.com/embed/G7OA8_M5ERk?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/151.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/151-151.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>

              <div class="slider-slide">
                  <a href="https://www.youtube.com/embed/S421ycmGFxg?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/14.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/14-14.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>

              <div class="slider-slide">
                <a href="http://pride.network/event_moscow/" target="blanc" class="btn-video-slide">
                  <img src="assets/img/13.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/13-13.png" class="img-responsive image-slide slide__mobile" alt="">
              </div>


<!--               <div class="slider-slide">
                <a href="#" class="btn-video-slide">
                  <img src="assets/img/10.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/10-10.png" class="img-responsive image-slide slide__mobile" alt="">
              </div> -->

<!--               <div class="slider-slide">
                <a href="https://www.youtube.com/embed/PtLAsiy8B88?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/news-bg2.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/news-bg2-mobile.png" class="img-responsive image-slide slide__mobile" alt="">
              </div> -->
<!--               <div class="slider-slide">
                <a href="assets/img/333.png" class="btn-video-slide" data-lity>
                  <img src="assets/img/news-bg3.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/news-bg3-mobile.png" class="img-responsive image-slide slide__mobile" alt="">
              </div> -->
<!--               <div class="slider-slide">
                  <a href="https://www.youtube.com/embed/jfsi0l1HHWw?autoplay=0&amp;autopause=0&amp;loop=1&amp;color=6e0c9d&amp;title=0&amp;byline=0&amp;portrait=0" class="btn-video-slide" data-lity>
                  <img src="assets/img/news-bg4.png" class="img-responsive image-slide slide__web" alt=""></a>
                  <img src="assets/img/news-bg4-mobile.png" class="img-responsive image-slide slide__mobile" alt="">
              </div> -->
            </div>
            <div class="slider-btn slider-btn-prev"></div>
            <div class="slider-btn slider-btn-next"></div> 
          </div>
        </div>
      </div>
      <!-- end news -->
      <!-- begin development -->
      <div class="development" id="development">
        <div class="wrap__page">
          <h2>Осознанное общество гармонично<br>развивающееся в 4 сферах жизни</h2>
        </div>
        <div class="development-inner">
          <div class="wrap__page">
            <div class="development-container">
              <div class="development-item">
                  <img src="assets/img/icon-grow.png" alt="icon-image">
                <p>Личностный рост</p>
              </div>
              <div class="development-item">
                  <img src="assets/img/icon-health.png" alt="icon-image">
                <p>Здоровье</p>
              </div>
              <div class="development-item item__third">
                  <img src="assets/img/icon-bussines.png" alt="icon-image">       
                <p>Бизнес</p>
              </div>
              <div class="development-item">
                  <img src="assets/img/icon-ralation.png" alt="icon-image">
                <p>Отношения</p>
              </div>
            </div>
            <div class="sub-title">
              <h3>Общество, которое мы создадим вместе с Вами!<br>
              <span>Но как это сделать?</span></h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end development -->
      <!-- begin section product -->
      <section class="product" id="product">
        <!-- <div class="wrap__page"> -->
          <div class="product-screen" data-rellax-speed="-1" id="product_screen_id"></div>
          <div class="product-info" data-rellax-speed="3">
            <h3>Представляем<br>Сенсационный Продукт<br>Компании <span>Pride International</span></h3>
            <p>Мобильное Приложение «Прорыв»</p>
            <ul>
              <li>Теперь создавать полезные привычки стало намного проще.</li>
              <li>Теперь Вы сможете держать свою жизнь под контролем.</li>
              <li>Теперь Вы не одни!</li>
              <li>Передовая система улучшения качества жизни через создание<br>полезных привычек.</li>
              <li>Режимы соревнования с другими участниками над созданием<br>лучшей жизни!</li>
            </ul>
            <a href="http://pride.network/app/" target="blanc" class="btn__more" title="Узнать подробнее о приложении">Узнать подробнее</a>
          </div>
        <!-- </div> -->
      </section>
      <!-- end section product -->
      <!-- begin section business -->
      <section class="business" id="business">
        <div class="wrap__page">
          <h2>Создание Международного<br>Бизнеса вместе с компанией<br>Pride International</h2>
          <ul>
            <span>1</span><li>Передовой маркетинг план</li>
            <span>2</span><li>Blockchain и первая в мире дивидендная криптовалюта Pridecoin</li>
            <span>3</span><li>Промоушены и награждения</li>
            <span>4</span><li>Ежемесячные мероприятия от компании</li>
            <span>5</span><li>Сильнейшая онлайн поддержка и обучения партнеров компании</li>
          </ul>
        </div>
      </section>
      <!-- end section business -->
      <!-- begin section together -->
      <section class="together">
        <div class="wrap__page">
          <h2>Хотите стать частью проекта,<br>который изменит мир?!</h2>
          <p>Обратитесь к тому человеку, который дал Вам информацию о Pride!</p>
        </div>
      </section>
      <!-- end section together -->
      <!-- begin screen -->
      <div class="screen">
        <div class="wrap__page"></div>
      </div>
      <!-- end screen -->
      <!-- begin footer -->
      <footer class="main-footer" id="footer">
        <div class="wrap__page">
          <p>Служба поддержки</p>
          <div class="social">
            <a href="https://www.facebook.com/messages/t/app.pride" target="blanc"></a>
            <a href="http://t.me/pridesupport_bot" target="blanc"></a>
            <a href="mailto:support@pride.network" target="blanc"></a>
          </div>
        </div>
      </footer>
      <!-- end footer -->
  </div>
    <!-- END content -->
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/loader.css">
    <link rel="stylesheet" href="assets/css/lity.min.css">
    <link rel="stylesheet" href="assets/css/simpleSlider.min.css">
    <!-- BEGIN scripts -->
    <script src="assets/js/scripts.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/tweenMax.min.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/js/PageScroll2id.min.js"></script>
    <script src="assets/js/menuspy.min.js"></script>
    <script src="assets/js/lity.min.js"></script>
    <script src="assets/js/myscript.js"></script>
    <script src="assets/js/simpleSlider.min.js"></script>
    <script>
        var slider = new simpleSlider('.simple-slider-second');
    </script>
  </body>
</html>