<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Trinidad and Tobago Government Portal</title>
</head>
<body>
<script language="JavaScript">
 var newurl = location.protocol + "//" + location.hostname;
 if(newurl.indexOf("servicecenter") > -1)
  {
    newurl += "/gortt/myportal/servicecenter";
    window.location = newurl;
  }else{
    window.location = "http://www.ttconnect.gov.tt/gortt/portal/ttconnect";
  }
</script>
</body>
</html>