<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="University of the Southern Caribbean" />
	
	<!-- G+ AND FACEBOOK META TAGS -->
	<meta property="og:title" content="University of the Southern Caribbean" />
	<meta property="og:url" content="http://usc.edu.tt/" />
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://usc.edu.tt/images/facebook.jpg" />
	<meta property="og:description" content="" />
	<meta property="og:site_name" content="University of the Southern Caribbean" />
	
	<!-- TWITTER CARD -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@" />
	<meta name="twitter:creator" content="@" />
	<meta name="twitter:url" content="http://usc.edu.tt/" />
	<meta name="twitter:title" content="University of the Southern Caribbean" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image" content="http://usc.edu.tt/images/facebook.jpg" />
	<link rel="apple-touch-icon" sizes="180x180" href="http://usc.edu.tt/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://usc.edu.tt/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://usc.edu.tt/favicon-16x16.png">
	<link rel="manifest" href="http://usc.edu.tt/manifest.json">
	<link rel="mask-icon" href="http://usc.edu.tt/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	
	<title>University of the Southern Caribbean | USC</title>
	<link rel="stylesheet" href="http://usc.edu.tt/css/foundation.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://usc.edu.tt/css/normalize.css" />
    <link rel="stylesheet" href="http://usc.edu.tt/css/styles.css" />
    <link rel="stylesheet" href="http://usc.edu.tt/css/assets.css" />
    <script src="http://usc.edu.tt/js/vendor/modernizr.js"></script>
	
	<!-- Put the following javascript before the closing </head> tag. -->
	<script>
		(function() {
		var cx = '014689635950253602730:g_ycsrxfzau';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
		})();
	</script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105296420-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="content">
  <header class="bar_top">
	<section class="menu_top">
	  <nav id="navigation2" class="navigation">
		<div class="nav-header">
		  <a class="nav-brand" href="http://usc.edu.tt/"><img src="http://usc.edu.tt/images/usc_logo.png" alt="University Id"></a>
		  <div class="nav-toggle"></div>
		</div>		
		<div class="nav-search">
		  <div class="nav-search-button">
			<i class="nav-search-icon"></i>
          </div>
   		  <form>
            <div class="nav-search-inner">
			 <script>
			  (function() {
				var cx = '002669462738551448579:hdhhi13csby';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			 </script>
			 <div id="gcse-searchbox">
    			<gcse:searchbox-only 
				  enableAutoComplete="true" 
				  defaultToImageSearch="true"
				  resultsUrl="http://www.usc.edu.tt/search/">
				</gcse:searchbox-only>
			 </div>             
            </div>		
          </form>
		</div>
		<div class="nav-menus-wrapper">
	      <ul class="nav-menu align-to-left">
			<li><a href="#">Admissions</a>
                <ul class="nav-dropdown">
                    <li><a href="http://usc.edu.tt/admissions/undergraduate-admissions/">Undergraduate Admissions</a></li>
                    <li><a href="http://usc.edu.tt/admissions/graduate-admissions/">Graduate Admissions</a></li>
                    <li><a href="http://usc.edu.tt/admissions/pre-university-certificate/">Pre-University Certificate</a></li>
                    <li><a href="http://usc.edu.tt/admissions/transfer-students/">Transfer Students</a></li>
                    <li><a href="http://usc.edu.tt/admissions/international-students/">International Students</a></li>
                    <li><a href="http://usc.edu.tt/admissions/fees-and-funding/">Fees & Funding</a></li>
					<li><a href="http://usc.edu.tt/admissions/apply/">Apply</a></li>
					<li><a href="http://usc.edu.tt/admissions/registration/">Registration</a></li>
                </ul>
            </li>
            <li><a href="#">Academics</a>
                <ul class="nav-dropdown">                    
                    <li><a href="http://usc.edu.tt/academics/degrees-offered/">Degrees</a></li>
					<li><a href="http://usc.edu.tt/academics/schools/">Schools</a></li>
					<li><a href="http://usc.edu.tt/academics/forde-library/">Library</a></li>
					<li><a href="http://usc.edu.tt/admissions/inter-campus/">Extension Campuses</a></li>
					<li><a href="http://usc.edu.tt/academics/distance-education/">Distance Education</a></li>
					<li><a href="http://usc.edu.tt/academics/other-courses/">Other Courses</a> </li>
					<li><a href="http://usc.edu.tt/academics/academic-calendar/">Academic Calendar</a></li>
					<li><a href="http://usc.edu.tt/academics/current-students/">Current Students</a></li>
					<li><a href="http://usc.edu.tt/academics/graduation-and-commencement/">Commencement</a></li>
                </ul>
            </li>
            <li><a href="#">Campus Life</a>
                <ul class="nav-dropdown">
                    <li><a href="http://usc.edu.tt/campus-life/spiritual-life/">Spiritual Life</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/student-life/">Student Life</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/university-centres-and-services/">University Centres &amp; Services</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/accommodation/">Accommodation</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/dining/">Dining</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/sports-and-fitness/">Sports &amp; Fitness</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/health-and-safety/">Health &amp; Safety</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/transportation/">Transportation</a> </li>
					<li><a href="http://usc.edu.tt/campus-life/student-clubs-and-organization/">Student Clubs &amp; Organization</a></li>
                </ul>
            </li>
            <li><a href="#">Alumni</a>
                <ul class="nav-dropdown">
                    <li><a href="http://usc.edu.tt/alumni/about-alumni/">About</a> </li>
					<li><a href="http://usc.edu.tt/alumni/alumni-chapters/">Alumni Chapters</a></li>
					<li><a href="http://usc.edu.tt/alumni/join/">Join a Chapter</a></li>
					<li><a href="http://usc.edu.tt/alumni/make-a-gift/">Make a Gift</a></li>					
					<li><a href="http://usc.edu.tt/alumni/after-usc/">After USC</a></li>
					<li><a href="http://usc.edu.tt/alumni/request-transcript/">Request Transcript</a></li>
					<li><a href="http://usc.edu.tt/alumni/shop/">Shop</a></li>
                </ul>
            </li>
            <li><a href="#">About Us</a>
                <ul class="nav-dropdown">
                    <li><a href="http://usc.edu.tt/about-us/usc-at-a-glance/">USC at a Glance </a> </li>
					<li><a href="http://usc.edu.tt/about-us/leadership/">Leadership</a> </li>
					<li><a href="http://usc.edu.tt/about-us/accreditation-and-affliliation/">Accreditation &amp; Affliliation</a> </li>
					<li><a href="http://usc.edu.tt/about-us/administrative-divisions/">Administrative Divisions</a></li>
					<!-- <li><a href="http://usc.edu.tt/about-us/university-policies/">University Policies</a></li> -->
					<li><a href="http://usc.edu.tt/about-us/updates/">Updates</a></li>
					<li><a href="http://usc.edu.tt/about-us/university-directory/">Directory</a></li>
					<li><a href="http://usc.edu.tt/contact-us/">Contact Us</a></li>
                </ul>
            </li>                        
          </ul>                    
          <ul class="nav-menu align-to-right right-menu">                   
            <li><a href="http://usc.edu.tt/apply/" class="nav-button align-to-right">Apply Now</a></li>
            <li><a href="http://usc.edu.tt/alumni/make-a-gift/" class="nav-button align-to-right">Give</a></li>
            <li class="login-item"><a href="#">Gateways</a>
                <ul class="nav-dropdown login-menu">
                   <li><a href="https://aeorion.usc.edu.tt/" target="_blank">Aeorion</a></li>
<li><a href="http://elearn.usc.edu.tt/moodle/" target="_blank">E-learn</a></li>
<li><a href="https://login.live.com/" target="_blank">Student email</a></li>
<li><a href="http://library.usc.edu.tt/" target="_blank">Library</a></li>
<li><a href="http://church.usc.edu.tt/" target="_blank">Church</a></li>
<li><a href="http://usc.edu.tt/alumni/request-transcript/">Transcript Services</a></li>
<li><a href="http://usc.edu.tt/academics/current-students/">Current Students</a></li>
<li><a href="http://offices.usc.edu.tt/departments/human-resources/" target="_blank">Jobs/Careers</a></li>
<li><a href="http://staff.usc.edu.tt" target="_blank">Staff Services</a></li> 
                </ul>
            </li>
          </ul>                    
		</div>
	  </nav>
    </section>
	<section class="hero-wrapper">
			  <div class="home-image">          
	  <img src="http://usc.edu.tt/files/pages/fuelfullfilment_03_2018-2.jpg" alt="University of the Southern Caribbean">
	   <div class="caption">
	   <div class="row">
	     <div class="large-6 medium-8 small-10 end columns">	      
		     <h1>Fuel your fulfillment<h1>
			 <h2>Register for a degree at USC today!</h2>
		  </div>
	    </div>
	  </div>
	  </div>
		    </section>
</header>
<section class="bar_cta">
  <div class="row">
    <div class="large-8 medium-8 small-12 columns">
	    <h1>We shape the USCian student</h1>
<p>At the University of the Southern Caribbean, you're challenged to reach heights, "Beyond excellence". A USC education prepares you for service to God and to humanity.</p> 	</div>
    <div class="large-4 medium-4 small-12 columns">
	    <p class="cta-button"><a href="http://usc.edu.tt/admissions/apply/">Apply now</a> »</p>
<p class="cta-button"><a href="http://usc.edu.tt/get-information/">Get info</a> »</p>          
    </div>
  </div>
</section>

<section class="bar_promotions">    
 	<div class="row">
      <div class="large-8 large-centered medium-10 small-11 small-centered columns">
      <p class="text-center value-header">USC's education value </p>
	 </div>
   </div>
<div class="row small-up-2 medium-up-2 large-up-4">
      <div class="column column-block">
	    <div class="promotions-box" data-aos="fade-right">
   <h2 class="text-center">Focus</h2>
   <p class="text-center">The USC provides <strong>career-focused</strong> 
    and life shaping education to its graduates.</p>
</div>		
    </div>         
      <div class="column column-block">
	    <div class="promotions-box" data-aos="fade-up">
    <h2 class="text-center">Alumni</h2>
    <p class="text-center">Many call our university home, creating a diverse <strong>alumni</strong> of all ages.</p>
    </div>		
    </div>         
      <div class="column column-block">
	    <div class="promotions-box" data-aos="fade-up">
    <h2 class="text-center">Experience</h2>
    <p class="text-center">We provide a <strong>student experience</strong> preparing graduates for a career and eternity.</p>
    </div>		
    </div>         
      <div class="column column-block">
	    <div class="promotions-box" data-aos="fade-left">
     <h2 class="text-center">Impact</h2>
    <p class="text-center">Our graduates <strong>serve</strong> in ministry, medicine and many organizations across the world.</p>
    </div>		
    </div>         
   
  </div> 
</section>
<section class="bar_bythenumbers">
  <div class="row small-up-1 medium-up-2 large-up-4">
      <div class="column column-block">
      <div class="bythenumbers_box">
        <h2 class="text-center">40+</h2>
        <p class="text-center">Countries represented</p>
       </div>
    </div>      
      <div class="column column-block">
      <div class="bythenumbers_box">
        <h2 class="text-center">3500+</h2>
        <p class="text-center">Student population</p>
       </div>
    </div>      
      <div class="column column-block">
      <div class="bythenumbers_box">
        <h2 class="text-center">40+</h2>
        <p class="text-center">Programmes</p>
       </div>
    </div>      
      <div class="column column-block">
      <div class="bythenumbers_box">
        <h2 class="text-center">30'000+</h2>
        <p class="text-center">Alumni</p>
       </div>
    </div>      
    </div>
</section>
<section class="bar_home_features">
  <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      <h1>Our community</h1>         
    </div>
    <div class="large-12 columns">
      <div id="usc-features">   
        		  <article>
			<div class="text-content">
			  <h1><a href="http://usc.edu.tt/pages/detail/usc-olympiad/">USC Olympiad</a> &raquo;</h1>
			  <p>All information about our upcoming sports day</p>
			</div>
			<div class="image-content"><img src="http://usc.edu.tt/files/pages/usc_olympiad_2018.jpg" alt="USC Olympiad"></div>
          </article>        
        		  <article>
			<div class="text-content">
			  <h1><a href="http://usc.edu.tt/pages/detail/amlfc-certificate-programme/">Anti-Money Laundering and Financial Crimes Prevention</a> &raquo;</h1>
			  <p>Register for our 15-week professional certificate programme</p>
			</div>
			<div class="image-content"><img src="http://usc.edu.tt/files/pages/financeprograme.jpg" alt="Anti-Money Laundering and Financial Crimes Prevention"></div>
          </article>        
        		  <article>
			<div class="text-content">
			  <h1><a href="http://offices.usc.edu.tt/departments/human-resources/">Be a part of the university community</a> &raquo;</h1>
			  <p>Apply now for available careers</p>
			</div>
			<div class="image-content"><img src="http://usc.edu.tt/files/pages/careers-2.jpg" alt="Be a part of the university community"></div>
          </article>        
              </div>  
    </div>
  </div>
</section> 
<section class="bar_news">
 <div class="row">      
    <div class="large-6 medium-6 small-6 columns">
		<h2 data-aos="fade-right">News</h2>		 
    </div>
    <div class="large-6 medium-6 small-6 columns">
         <p class="text-right learn-more"  data-aos="fade-left"><a href="http://usc.edu.tt/news/">All news</a> &#x2192;</p>  
    </div>
    <hr/>
 </div>  
<div class="row small-up-1 medium-up-2 large-up-3">
      <div class="column column-block">
		<div class="home-news-summary">
		<p class="news-summary-image"><img src="http://usc.edu.tt/files/usc_news/wop-group-01.jpg"></p>
		<h2 class="nande-home-title"><a href="http://usc.edu.tt/news/detail/usc-concludes-week-of-spiritual-emphasis/">USC concludes week of spiritual emphasis</a></h2>
		<p><span class="news-detail-date">19 Mar 2018</span> | 
		   <span class="news-detail-category">Campus News</span></p>
		<p class="news-summary-intro">Students experience spiritual transformation during Week of Prayer activities held from March 9-17, 2018</p>
		</div>     
    </div>
      <div class="column column-block">
		<div class="home-news-summary">
		<p class="news-summary-image"><img src="http://usc.edu.tt/files/usc_news/dorm-photo-01.jpg"></p>
		<h2 class="nande-home-title"><a href="http://usc.edu.tt/news/detail/usc-welcomes-new-female-dormitory-facility/">USC welcomes new female dormitory facility</a></h2>
		<p><span class="news-detail-date">28 Feb 2018</span> | 
		   <span class="news-detail-category">Campus News</span></p>
		<p class="news-summary-intro">A much anticipated blessing of the new female dorm facility</p>
		</div>     
    </div>
      <div class="column column-block">
		<div class="home-news-summary">
		<p class="news-summary-image"><img src="http://usc.edu.tt/files/usc_news/3d7a1349.jpg"></p>
		<h2 class="nande-home-title"><a href="http://usc.edu.tt/news/detail/going-green-a-sustainability-initiative/">Going Green- A sustainability initiative</a></h2>
		<p><span class="news-detail-date">22 Feb 2018</span> | 
		   <span class="news-detail-category">Campus News</span></p>
		<p class="news-summary-intro">USC, backed by the Government of Trinidad and Tobago is currently undertaking a Renewable Energy and Environmental Development Project</p>
		</div>     
    </div>
   
  </div>
   
  <div class="row">  
    <div class="large-6 medium-6 small-6 columns">
       <h2 data-aos="fade-right">Events</h2>         
    </div>
    <div class="large-6 medium-6 small-6 columns">
       <p class="text-right learn-more"  data-aos="fade-left"><a href="http://usc.edu.tt/events/">All events</a>&#x2192;</p>  
    </div>
    <hr/>
 </div>
 <div class="row small-up-1 medium-up-1 large-up-2">
       		
      <div class="column column-block home-events-summary"> 
        <div class="large-4 medium-6 small-12  hide-for-small-only columns">
          <p class="events-summary-image"><img src="http://usc.edu.tt/files/usc_events/marchpast_olympiad.jpg"></p>
        </div> 
        <div class="large-8 medium-6 small-12 columns">
          <p><span class="events-summary-date">22 Mar 2018</span> | <span class="event-summary-time">9:00 AM</span></p>
          <h2 class="nande-home-title"><a href="http://usc.edu.tt/events/detail/usc-olympiad-2018/">USC Olympiad 2018</a></h2>
          <p>The Sports event not to be missed!</h2> 		  
        </div> 
      </div>
       		
      <div class="column column-block home-events-summary"> 
        <div class="large-4 medium-6 small-12  hide-for-small-only columns">
          <p class="events-summary-image"><img src="http://usc.edu.tt/files/usc_events/libraryday_08_2018-2.jpg"></p>
        </div> 
        <div class="large-8 medium-6 small-12 columns">
          <p><span class="events-summary-date">26 Mar 2018</span> | <span class="event-summary-time">8:00 AM</span></p>
          <h2 class="nande-home-title"><a href="http://usc.edu.tt/events/detail/love-your-library-2018-ami/">Love your library 2018, AMI</a></h2>
          <p>Love Your Library 2018 - Aeorion Moodle Integration</h2> 		  
        </div> 
      </div>
     
  </div>
   </section>
<section class="bar_usc">
 <div class="fullrow small-up-1 medium-up-3 large-up-6">
   <div class="column column-block hide-for-small-only">
    <div class="instagram_box bar_usc_box">
	 <h2 class="text-center">Instagram <br/>posts</h2> 
     <p class="text-center"><a href="#instagram" data-lity><img src="images/instagram_icon_large.png"></a></p>	 
    </div>
  </div>
  <div class="column column-block hide-for-small-only">
    <div class="bx_dkyellow bar_usc_box">
	 <h2 class="text-center">Tweets<br/>@usctt</h2> 
     <p class="text-center"><a href="#twitter" data-lity><img src="images/twitter_icon_large.png"></a></p>     
    </div>
  </div>
  <div class="column column-block hide-for-small-only">
    <div class="facebook_box bar_usc_box">
     <h2 class="text-center">Facebook <br/>conversation</h2>
	 <p class="text-center"><a href="#facebook" data-lity><img src="images/facebook_icon_large.png"></a></p> 
    </div>
  </div>
  <div class="column column-block">
    <div class="interested_in_box bar_usc_box"> 
	  <h2 class="text-center">I'm interested <br/>in...</h2>
<p><a href="http://usc.edu.tt/academics/degrees-offered/">Degree programmes</a>→</p>
<p><a href="http://usc.edu.tt/academics/other-courses/">Non-degree courses</a>→</p>
<p><a href="http://wwwe.usc.edu.tt/admissions/fees-and-funding/">Funding my study</a>→</p>    </div>
  </div>
  <div class="column column-block">
    <div class="students_box bar_usc_box">
	  <h2 class="text-center">Student <br/>Services</h2>
<p>Information and services for current students.</p>
 <p><a href="http://usc.edu.tt/academics/current-students/">Student info</a>→</p>    </div>
  </div>  
  <div class="column column-block">
    <div class="bx_dkgreen bar_usc_box">
	 <h2 class="text-center">Giving <br/>to USC</h2>
<p>Our mission is supported by every contribution.</p>
<p><a href="http://usc.edu.tt/alumni/make-a-gift/why-give/">Learn more</a>→</p>    </div>
  </div> 
 </div>
</section>

<div id="instagram" class="social-lightbox lity-hide">
  <div class="row">      
    <div class="large-10 large-centered medium-11 medium-centered small-11 small-centered columns" >
		<h1>Instagram posts</h1>
		
    </div>
  </div>	
</div>

<div id="twitter" class="social-lightbox lity-hide">
  <div class="row">      
    <div class="large-10 large-centered medium-11 medium-centered small-11 small-centered columns" >
		<h1>Tweets @usctt</h1>
		
    </div>
  </div>	
</div>

<div id="facebook" class="social-lightbox lity-hide">
  <div class="row">      
    <div class="large-10 large-centered medium-11 medium-centered small-11 small-centered columns" >
		<h1>Facebook conversation</h1>
		
    </div>
  </div>	
</div>
 <footer class="bar_footer bx_midblk">
	<section class="social-links">
	 <div class="row">
		<div class="large-6 large-centered medium-9 medium-centered small-11 small-centered columns">
			<h3 class="text-center">Connect with us</h3>
			<p class="text-center social-icons">
			  <a href="https://www.facebook.com/usctt/" target="_blank"><span class="flaticon-facebook-logo-button"></span></a> 
<a href="instagram.com/usctt/" target="_blank"><span class="flaticon-instagram-logo"></span></a>
<a href="https://twitter.com/usctt?lang=en" target="_blank"><span class="flaticon-twitter-logo-button"></span></a> 
<a href="https://www.linkedin.com/edu/university-of-the-southern-caribbean-153084" target="_blank"><span class="flaticon-linkedin-logo-button"></span></a> 
<a href="https://www.youtube.com/user/USCTrinidad" target="_blank"><span class="flaticon-youtube-logotype"></span></a>			 </p>
			</hr>
		</div>
	  </div> 
	</section>
	<section class="footer-links">
	 <div class="row">
		<div class="large-3 medium-12 small-12 columns footer-links-columns">
		   <p class="footer-logo"><img src="http://usc.edu.tt/images/usc_footer_logo.png"></p>
		   <p  class="footer-lead-text"> The University of the Southern Caribbean is a Seventh-day Adventist institution of higher education.</p>
		</div><!--box-->
		<div class="large-3 medium-4 small-4 columns footer-links-columns">
		   <h3>Learn</h3>
			<ul class="footer-menu hide-for-small-only">
			   <li><a href="http://usc.edu.tt/about-us/usc-at-a-glance/history/">History</a></li>
			   <li><a href="http://usc.edu.tt/academics/degrees-offered/">Degrees</a></li>
			   <li><a href="http://usc.edu.tt/admissions/fees-and-funding/">Fees & funding</a></li>
			   <li><a href="http://usc.edu.tt/admissions/extension-campuses/">Extension campuses</a></li>
			   <li><a href="http://usc.edu.tt/news/">News</a></li>
			</ul>
			<p class="footer-menu-text"><a href="http://usc.edu.tt/apply/">Apply</a>&#x2192;</p> 
		</div><!--box-->
		<div class="large-3 medium-4 small-4 columns footer-links-columns">
		   <h3>Love</h3>
			<ul class="footer-menu hide-for-small-only">
			   <li><a href="http://church.usc.edu.tt/" target="_blank">University church</a></li>
			   <li><a href="http://usc.edu.tt/campus-life/spiritual-life/">Spirituality</a></li>
			   <li><a href="http://usc.edu.tt/campus-life/student-clubs-and-organization/">Community</a></li>
			   <li><a href="http://usc.edu.tt/alumni/support/">Support</a></li>   
			   <li><a href="http://usc.edu.tt/alumni/make-a-gift/">Make a gift</a></li>
			</ul>
			<p class="footer-menu-text"><a href="http://usc.edu.tt/alumni/join/">Join</a>&#x2192;</p> 
		</div><!--box-->
		<div class="large-3 medium-4 small-4 columns footer-links-columns">
		   <h3>Live</h3>
			<ul class="footer-menu hide-for-small-only">
			   <li><a href="http://usc.edu.tt/campus-life/accommodation/">Accomodation</a></li>
			   <li><a href="http://usc.edu.tt/campus-life/dining/">Dining</a></li>
			   <li><a href="http://usc.edu.tt/campus-life/sports-and-fitness/">Sports & fitness</a></li>
			   <li><a href="http://usc.edu.tt/events/">Events</a></li>
			   <li><a href="http://usc.edu.tt/shop/">Shop</a></li>
			 </ul>
		   <p class="footer-menu-text"><a href="http://usc.edu.tt/about-us/usc-at-a-glance/explore/">Explore</a>&#x2192;</p>  
		</div><!--box-->
	 </div> <!--row--> 
	</section> <!--section--> 
	<section class="footer-credits bx_blk">
	  <div class="row ">
		<div class="large-6 medium-6 small-12 columns">
		   <p>Copyright 2018 University of the Southern Caribbean.</p>
		</div>  <!--box-->
		<div class="large-6 medium-6 small-12 columns">
		   <p class="right"><a href="http://usc.edu.tt/legal-information/">Legal information</a> | <a href="http://usc.edu.tt/site-map/">Site map</a> | <a href="http://usc.edu.tt/contact-us/">Contact us</a></p>
		</div>  <!--box-->
	   </div> 
	</section> <!--section-->
 </footer>
</div>
	<a href="#" class="scrollup">Scroll</a>    
    <script src="http://usc.edu.tt/js/vendor/jquery.js"></script>
    <script src="http://usc.edu.tt/js/plugins.js"></script>
    <script src="http://usc.edu.tt/js/navigation.js"></script>
    <script src="http://usc.edu.tt/js/scripts.js"></script>
    <script src="http://usc.edu.tt/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>